body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #4CAF50;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}

nav {
  margin-top: 5px;
  background-color: #3f3e3e;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  display: block;
}

section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
}

section h2 {
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 10px;
}

article {
  margin-bottom: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 97.7%;
  text-align: center;
  margin-top: 5px;
  border-radius: 8px;
  opacity: 0.8;
}

footer p {
  margin: 5px 0;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #0066cc;
}

a:hover, a:active {
  color: #ff9900;
}

section h2::before {
  content: "➤ ";
  color: #4CAF50;
}

article:first-child {
  background-color: #f2f2f2;
}

article:last-child {
  background-color: #a3f172;
}

article:nth-child(odd) {
  background-color: #72a6f3;
}

p::first-line {
  font-weight: bold;
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  margin-bottom: 10px;
}

dl {
  margin-top: 20px;
}

dt {
  font-weight: bold;
  margin-bottom: 5px;
}

dd {
  margin-bottom: 15px;
}

.display-left {
  float: left;
}

.space {
  margin: 300px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f8ebeb;
}

caption {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 5px;
}

fieldset {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: large;
  border-radius: 8px;
}

legend {
  font-weight: bold;
}

label {
  width: 150px;
  display: inline-block;
  margin: 6px;
}

input {
  width: 249px;
  height: 25px;
  margin: 5px;
}

select {
  width: 254px;
  height: 32px;
}

input[type=submit] {
  width: 120px;
  height: auto;
  padding: 8px;
  font-size: large;
  border-radius: 8px;
}

video {
  border-radius: 8px;
}
